NEXT_PUBLIC_API_URL=https://localhost:7156/api
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51U9QRS7jEDRMH1S8sOgUNZ5Y4q4sknld26OhcESprCKOK6TRtOU6MmwFc9mKvEItyYDFQHCO2P0lSMW5pMQpX6M200SRCipJ4R
NEXT_PUBLIC_SITE_URL=http://localhost:3000